# Python
**/__pycache__/
*.pyc
*.pyo

# dependencies
/node_modules
/.pnp
.pnp.js

# Virtual Environment
venv/
backend/venv/

# Django
db.sqlite3
backend/media/

# Environment variables
.env

# Node
node_modules/
build/

# OS
.DS_Store
Thumbs.db